.admin-action-content {
    column-gap: 56px;
    row-gap: 50px;
}
.model-img{
    width: 100%;
    height: 170px;
}
.model-img img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.card{
    user-select: none;
}
.card-text{
    min-height: 80px;
}
.card-text-package{
    min-height: 100px;
}
